@use '../../../styles.scss' as *;

.tech-stack {
  display: flex;
  padding: 100px 0 100px 0;
  border-radius: 40px;
  background: #311038;
  background: radial-gradient(circle, rgba(49, 16, 56, 1) 0%, rgba(34, 16, 40, 1) 100%);

  @include media-breakpoint-down(xl) {
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
  }

  .left-content {
    width: 45%;

    @include media-breakpoint-down(xl) {
      width: unset;
    }

    .title {
      max-width: 350px;
      text-align: right;
      justify-self: end;
      padding-right: 30px;
      font-size: 70px;
      border-right: 8px solid;
      border-image: linear-gradient(to bottom, #a34054, #e9bcb9) 1;

      @include media-breakpoint-down(xl) {
        font-size: 5vw;
        border: unset;
        text-align: unset;
        justify-self: center;
        margin-bottom: 20px;
        padding: 0;
        max-width: unset;
      }
    }
  }

  .right-content {
    width: 34%;
    padding-left: 40px;

    @include media-breakpoint-down(xl) {
      display: flex;
      padding: unset;
      width: unset;
    }

    .nav-bar {
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 5px;
        gap: 46px;
        background-color: #662249;
        width: max-content;
        border-radius: 10px;

        @include media-breakpoint-down(xl) {
          flex-direction: column;
          gap: 10px;
        }

        li {
          padding: 5px 10px;
          border-radius: 10px;
          font-weight: 400;
          cursor: pointer;

          @include media-breakpoint-down(xl) {
            font-size: 12px;
          }

          &.active {
            background-color: #e9bcb9;
            color: #a34054;
          }

          &:hover {
            background-color: #e9bcb9;
            color: #a34054;
          }
        }
      }
    }

    .skills {
      margin-top: 24px;

      @include media-breakpoint-down(xl) {
        margin: 0 0 0 24px;
      }

      ul {
        display: flex;
        list-style: none;
        margin: 0;
        gap: 14px;
        padding: 0;
        flex-wrap: wrap;

        li {
          min-width: 90px;
          padding: 6px 16px;
          border-radius: 20px;
          border: 1px solid #a34054;
          text-align: center;

          &:hover {
            font-style: italic;
          }

          @include media-breakpoint-down(xl) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
