@use '../../../styles.scss' as *;

.experiences-container {
  padding: 100px 50px 100px 50px;

  @include media-breakpoint-down(xl) {
    padding: 40px;
  }

  .title {
    display: flex;
    padding: 50px;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: center;
      padding: unset;
    }

    h1 {
      width: 70%;
      margin-right: 100px;

      @include media-breakpoint-down(xl) {
        margin: 0 0 40px 0;
        width: unset;
        font-size: 5vw;
      }
    }

    img {
      width: 160px;
    }
  }

  .experiences {
    padding: 50px;

    @include media-breakpoint-down(xl) {
      padding: unset;
      margin-top: 40px;
    }

    .experience {
      display: flex;
      border: 1px solid #5e2748;
      border-radius: 20px;
      max-width: 60%;
      padding: 34px;

      @include media-breakpoint-down(xl) {
        max-width: 100%;
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-bottom: 36px;
      }

      &__duration {
        font-size: 20px;
        min-width: 148px;

        @include media-breakpoint-down(xl) {
          font-size: 16px;
          margin-bottom: 16px;
        }
      }

      &__role {
        &-title {
          font-size: 20px;
          margin-bottom: 16px;

          @include media-breakpoint-down(xl) {
            font-size: 16px;
          }
        }

        &-desc {
          display: flex;
          flex-direction: column;

          ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0;
            margin: 0 0 0 14px;

            li {
              font-size: 14px;
            }
          }
        }
      }

      &:nth-child(even) {
        justify-self: end;

        @include media-breakpoint-down(xl) {
          justify-self: unset;
        }
      }
    }
  }
}
