.contact {
  display: flex;
  flex-direction: column;
  background: #311038;
  background: radial-gradient(circle, rgb(49, 16, 56) 0%, rgb(34, 16, 40) 100%);
  justify-content: center;
  padding: 100px 35%;
}

.desc {
  font-size: 24px;
  margin: 10px 0 14px 0;
}

.email,
.linkedin {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 6px;
  text-decoration: none;

  &__icon {
    color: #a34054;
  }

  &__address {
    font-size: 14px;
  }
}
